/* ___________________index.html___________________ */
.Q-background {
  width: 100%;
  height: 100vh;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: 2rem;
}

.Q-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Q_ArrowForward {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-image: url(/src/images/Q_ArrowForward.webp);
  background-size: cover;
}

/* __Articecard__ */
.Q_Image {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--radiusMedium);
  overflow: hidden;
}

.Q_Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* __Card__ */
.Q_Image_Card {
  width: 100%;
  aspect-ratio: 390 / 349;
  border-radius: var(--radiusMedium);
  overflow: hidden;
}

.Q_Image_Card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*__Tests__ */
.Q_CardTestImg {
  width: 40%;
  max-width: 313px;
  aspect-ratio: 313 / 219;
  border-radius: var(--radiusMedium);
  overflow: hidden;
  flex-shrink: 0;
}

.Q_CardTestImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}

.Q_CommunityQR {
  width: 13rem;
  height: 13rem;
  border-radius: var(--radiusMedium);
  overflow: hidden;
}

.Q_CommunityQR img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ___________________articles.html___________________ */

.Q_ImageSmall {
  width: 100%;
  aspect-ratio: 390 / 221;
  border-radius: var(--radiusMedium);
  overflow: hidden;
}

.Q_ImageSmall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media only screen and (max-width: 1720px) and (min-width: 1300px) {
}

@media only screen and (max-width: 1300px) and (min-width: 1024px) {
  .Q_Image_Card {
    aspect-ratio: 390 / 349;
  }
  /*__Tests__ */
  .Q_CardTestImg {
    width: 38%;
    aspect-ratio: 313 / 219;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /*__Tests__ */
  .Q_CardTestImg {
    width: 35%;
    aspect-ratio: 313 / 219;
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  /*__Tests__ */
  .Q_CardTestImg {
    /* width: 45%; */
    max-width: 160px;
    aspect-ratio: 160 / 164;
  }

  .Q_CommunityQR {
    width: 11rem;
    height: 11rem;
  }
}
